body,html{
z-index: -1;
background-color: rgb(64,148,180);
height: 100%;
}

h3{
font-size: 70px;
}

.home{

height: 100%;
padding: 10px;
background-color: rgb(64,148,180);
text-align: center;
}

.home h1,h2{
position: relative;
margin-left: auto;
top:35%;
}

.ali{

height: 800px;
padding: 0px;
background-color: rgb(222,66,69);
}

.ali h3{
color: rgb(71,72,75);
}

.elaine{

height: 800px;
padding: 0px;
background-color: rgb(142, 68, 173);
}

.jenn{

height: 800px;
padding: 0px;
background-color: rgb(46, 204, 113);
}

.matt{

height: 800px;
padding: 0px;
background-color: rgb(211, 84, 0);
}

img{
border-radius: 50%;
height: 500px;

}

blockquote{
  background: rgba(0,0,0,0.3);
  padding: 35px;
  border-radius: 10px;
    color: rgb(52, 152, 219);
margin-top: 30%;
}

a{
text-decoration: none;
color: rgb(236, 240, 241);
}

a:hover{
    color:rgb(52, 152, 219);
-webkit-transition: color .5s ease;
-moz-transition: color .5s ease;
-ms-transition: color .5s ease;
-o-transition: color .5s ease;
transition: color .5s ease;
text-decoration: none;
}

.home a:hover{
    color:rgb(222,66,69);
-webkit-transition: color .5s ease;
-moz-transition: color .5s ease;
-ms-transition: color .5s ease;
-o-transition: color .5s ease;
transition: color .5s ease;
text-decoration: none;
}