body,html{

height: 100%;
}

.head h1{

}

.head{
width: 100%;
height: 100%;
background-image: url(../img/sad.jpg);
    background-size:cover;
background-position: center;
  background-attachment: fixed;
}

.head h1,h2{
color: red;
text-align: center;
position: relative;
margin-left: auto;
top:50%;
}

.pg1{
width: 100%;
height: 100%;
}

.gdrive{
width: 100%;
height: 100%;
}