body,html{

height: 100%;
}

.head{
width: 100%;
height: 100%;
background-image: url(../img/sad.jpg);
    background-size:cover;
background-position: center;
  background-attachment: fixed;
padding: 10px;
z-index: -1;
}

.head h1,h2{
color: #AB3430;
text-align: center;
position: relative;
margin-left: auto;
top:30%;
}

.head h1{
 font-size: 120px;
}

.head h2{
    font-size: 50px;
}

.pg1{
width: 100%;
height: 100%;
text-align: center;
background-color: #4B1C8C;
padding: 10px;
z-index: 1;
}

.pg1 h1{
font-size: 60px;
position: relative;
margin-left: auto;
top:30%;
color: #ECF0F1;
}

.pg1 h2{
font-size: 50px;
position: relative;
margin-left: auto;
top:40%;
}

.pg1 p{
font-size: 40px;
position: relative;
margin-left: auto;
top:50%;
color: #F2AC57;
}

.gdrive{
width: 100%;
height: 100%;
background-color: #3498DB;
padding: 10px;
}

.gdrive h1{
font-size: 60px;
}

.gdrive p{
font-size: 30px;
}

.gq{
    width: 400px;
  margin: 40px;
  background: rgba(0,63,76,0.7);
  padding: 45px;
  border-radius: 50px;
}

.gq label{
padding: 10px;
color: #E74C3C;
}



#footer{
background-color: rgb(0,13,26);
background-repeat: no-repeat; 
background-size: cover;
background-position: center;
background-attachment: fixed;
padding-top: 1px;
padding-bottom: 1px;
    width:100%;
    bottom:0px;
position:absolute;
right: 0px;
}

#footer h6{
color:rgb(59,252,52);
font-size: 12px;
text-align: center;
}




@-webkit-keyframes beat {
    0% {-webkit-transform: scale(1) rotate(225deg); -webkit-box-shadow:0 0 40px rgba(213,9,60,1);}
    50% {-webkit-transform: scale(1.1) rotate(225deg); -webkit-box-shadow:0 0 70px rgba(213,9,60,0.6);}
    100% {-webkit-transform: scale(1) rotate(225deg); -webkit-box-shadow:0 0 40px rgba(213,9,60,1);}
}
@-moz-keyframes beat {  
    0% {-moz-transform: scale(1) rotate(225deg); -moz-box-shadow:0 0 40px rgba(213,9,60,1);}
    50% {-moz-transform: scale(1.1) rotate(225deg); -moz-box-shadow:0 0 70px rgba(213,9,60,0.6);}
    100% {-moz-transform: scale(1) rotate(225deg); -moz-box-shadow:0 0 40px rgba(213,9,60,1);}
}
@keyframes beat {  
    0% {transform: scale(1) rotate(225deg); box-shadow:0 0 40px #d5093c;}
    50% {transform: scale(1.1) rotate(225deg); box-shadow:0 0 70px #d5093c;}
    100% {transform: scale(1) rotate(225deg); box-shadow:0 0 40px #d5093c;}
}

#background {
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    background: #ffa5a5;
    background: -moz-linear-gradient(top,  #ffa5a5 0%, #ffd3d3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa5a5), color-stop(100%,#ffd3d3));
    background: -webkit-linear-gradient(top,  #ffa5a5 0%,#ffd3d3 100%);
    background: linear-gradient(top,  #ffa5a5 0%,#ffd3d3 100%);
}
#chest {
    position:relative;
    width:500px;
    height:450px;
    margin:0 auto;
}
.heart {
    position:absolute;
    z-index:2;
    background: -moz-linear-gradient(-90deg,  #F50A45 0%, #d5093c 40%);
    background: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%,#F50A45), color-stop(40%,#d5093c));
    background: -webkit-linear-gradient(-90deg,  #F50A45 0%,#d5093c 40%);
    background: linear-gradient(-90deg,  #F50A45 0%,#d5093c 40%);
    -webkit-animation: beat 0.7s ease 0s infinite normal;
    -moz-animation: beat 0.7s ease 0s infinite normal;
    animation: beat 0.7s ease 0s infinite normal;
}
.heart.center {
    background: -moz-linear-gradient(-45deg,  #B80734 0%, #d5093c 40%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#B80734), color-stop(40%,#d5093c));
    background: -webkit-linear-gradient(-45deg,  #B80734 0%,#d5093c 40%);
    background: linear-gradient(-45deg,  #B80734 0%,#d5093c 40%);
}
.heart.top {
    z-index:3;
}
.side {
    top:50px;
    width:220px;
    height:220px;
    -moz-border-radius: 220px;
    -webkit-border-radius: 220px;
    border-radius: 220px;
}
.center {
    width:210px;
    height:210px;
    bottom:100px;
    left:145px;
    font-size:0;
    text-indent:-9999px;
}
.left {
    left:62px;
}
.right {
    right:62px;
}