body,html{

height: 100%;
}

.head{
width: 100%;
height: 100%;
background-image: url(../img/sad.jpg);
    background-size:cover;
background-position: center;
  background-attachment: fixed;
padding: 10px;
z-index: -1;
}

.head h1,h2{
color: #F26A4B;
text-align: center;
position: relative;
margin-left: auto;
top:30%;
}

.head h1{
 font-size: 120px;
}

.head h2{
    font-size: 50px;
}

.pg1{
width: 100%;
height: 100%;
text-align: center;
background-color: #4B1C8C;
padding: 10px;
z-index: 1;
}

.pg1 h1{
font-size: 60px;
position: relative;
margin-left: auto;
top:30%;
color: #ECF0F1;
}

.pg1 h2{
font-size: 50px;
position: relative;
margin-left: auto;
top:40%;
}

.pg1 p{
font-size: 40px;
position: relative;
margin-left: auto;
top:50%;
color: #F2AC57;
}

.gdrive{
width: 100%;
height: 100%;
background-color: #3498DB;
padding: 10px;

}